node_modules
.next
.next-prod
.next-mobile
.turbo
dist
*.log
.DS_Store
.env*.local
.pnpm-store
playwright-report/
test-results/
*.tsbuildinfo
out/
*.json.key
studio-*.json
*-key.json
*.xcarchive/
*.p8

